{% extends 'base.html' %}

{% block content %}
    <h1>My Tasks</h1>
    {% if task_object.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
                {% for item in task_object.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.due_date }}</td>
                        <td>{{ item.is_complete|yesno:"Yes, No" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no tasks</p>
    {% endif %}
{% endblock content %}
