{% extends 'base.html' %}

{% block content %}
    <h1>{{ project_object.name }}</h1>
    <p>{{ project_object.description }}</p>
    <h2>Tasks</h2>
    <p>
        <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
    {% if project_object.tasks.all|length > 0 %}
        <table>
            <thead>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                {% for item in project_object.tasks.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.assignee }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.due_date }}</td>
                        <td>{{ item.is_complete|yesno:"Yes, No" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>This project has no tasks</p>
    {% endif %}
{% endblock content %}
