{% extends 'base.html' %}

{% block content %}
    <h1>My Projects</h1>
    <p>
        <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
    {% if projects|length == 0 %}
        <p>You are not assigned to any projects</p>
    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
            <tbody>
                {% for item in projects %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                        </td>
                        <td>{{ item.tasks.all|length }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
